<% if notice %>
  <aside class="notice"><%= notice %></aside>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li id='<%= product.id%>'>
          <%= form_with url: line_items_path(product_id: product), method: :post, local: false do %>
            <%= image_submit_tag(product.img_url, alt:"#{product.title} book cover" )%>
          <% end %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price) %>
            <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true%>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
